<% unless notice.nil? %>
<div class="alert alert-success col-md-4 offset-md-4" id="notice">
    <%= notice %>
    <a href="#" class="close" data-dismiss="alert">&#215;</a>
</div>
<% end %>

<h1 align="center"><%= "Category: " + @category.name %></h1>
<div align="center">
  <% if logged_in? and current_user.admin? %>
    <div class="row centered">
      <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
    </div>
  <% end %>
</div>
<br>
<%= render 'articles/artikkeli', obj: @category_articles %>
<br>
<div class="centered">
  <%= will_paginate @category_articles %>
</div>